@model SchoolManagement.ViewModels.ClassViewModel
@{
    ViewBag.Title = "Index";
}

<div class="section-wrapper">
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("SaveClass", "Class"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.class_code, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.class_code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.class_code, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.name, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.description, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.description, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.description, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label class="ckbox">
                        <input type="checkbox"><span>Xác Nhận Thông Tin</span>
                    </label>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pd-x-20">Button</button>
                </div>
            }
        </div>

        <div class="col-md-8">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th class="wd-15p">ID student</th>
                        <th class="wd-15p">Name</th>
                        <th class="wd-20p">Email</th>
                        <th class="wd-15p">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Ashton</td>
                        <td>Cox</td>
                        <td>Junior Technical Author</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-warning"><i class="icon ion-compose"></i> edit</button>
                                <button type="button" class="btn btn-outline-danger"><i class="icon ion-trash-a"></i> delete</button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>Tiger</td>
                        <td>Nixon</td>
                        <td>System Architect</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-warning"><i class="icon ion-compose"></i> edit</button>
                                <button type="button" class="btn btn-outline-danger"><i class="icon ion-trash-a"></i> delete</button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>Garrett</td>
                        <td>Winters</td>
                        <td>Accountant</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-warning"><i class="icon ion-compose"></i> edit</button>
                                <button type="button" class="btn btn-outline-danger"><i class="icon ion-trash-a"></i> delete</button>
                            </div>
                        </td>

                    </tr>

                    <tr>
                        <td>Cedric</td>
                        <td>Kelly</td>
                        <td>Senior Javascript Developer</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-warning"><i class="icon ion-compose"></i> edit</button>
                                <button type="button" class="btn btn-outline-danger"><i class="icon ion-trash-a"></i> delete</button>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td>Airi</td>
                        <td>Satou</td>
                        <td>Accountant</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-outline-warning"><i class="icon ion-compose"></i> edit</button>
                                <button type="button" class="btn btn-outline-danger"><i class="icon ion-trash-a"></i> delete</button>
                            </div>
                        </td>

                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div><!-- section-wrapper -->
