<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - FAI Postal</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_Header")
    <div class="slim-body">
        @Html.Partial("_Sidebar")
        <div class="slim-mainpanel">
            <div class="container">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({
                select: {
                    style: 'multi'
                }
            });
        });
    </script>
</body>
</html>
