<div class="slim-sidebar">
    <label class="sidebar-label">Navigation</label>
    <ul class="nav nav-sidebar">
        <li class="sidebar-nav-item">
            <a href="@Url.Action( "Index", "Dashboard")" class="sidebar-nav-link">
                <i class="icon ion-ios-home"></i> Dashboard
            </a>
        </li>
        <li class="sidebar-nav-item with-sub">
            <a href="" class="sidebar-nav-link">
                <i class="icon ion-person-stalker"></i>
                User Management
            </a>
            <ul class="nav sidebar-nav-sub">
                <li class="nav-sub-item">
                    @Html.ActionLink("Students", "Student", "User", routeValues: null, htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("Teachers", "Teacher", "User", routeValues: null, htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("Employee", "Employee", "User", routeValues: null, htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("Admin", "Admin", "User", routeValues: null, htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("Add User", "AddAccount", "Account", routeValues: null, htmlAttributes: new { @class = "nav-sub-link" })
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-item">
            <a href="@Url.Action("Index", "Courses")" class="sidebar-nav-link">
                <i class="icon ion-ios-book"></i> Courses
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="@Url.Action("Index", "Classroom")" class="sidebar-nav-link">
                <i class="icon ion-university"></i> Classrooms
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="@Url.Action("Index", "StudentGroup")" class="sidebar-nav-link">
                <i class="icon ion-briefcase"></i> Class
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="@Url.Action("Index", "Timetable")" class="sidebar-nav-link">
                <i class="icon ion-ios-calendar"></i> Timetable
            </a>
        </li>

    </ul>
</div>
