<div class="slim-sidebar">
    <label class="sidebar-label">Navigation</label>
    <ul class="nav nav-sidebar">
        <li class="sidebar-nav-item">
            <a href="@Url.Action( "Index", "Dashboard")" class="sidebar-nav-link">
                <i class="icon ion-ios-home-outline"></i> Dashboard
            </a>
        </li>
        <li class="sidebar-nav-item with-sub">
            <a href="" class="sidebar-nav-link">
                <i class="icon ion-android-contacts"></i>
                User Management
            </a>
            <ul class="nav sidebar-nav-sub">
                <li class="nav-sub-item">
                    @Html.ActionLink("List Student", "ListUser", "Account", htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("List Teacher", "ListUser", "Account", htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("List Employee", "ListUser", "Account", htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("List Admin", "ListUser", "Account", htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("Add User", "AddAccount", "Account",routeValues:null, htmlAttributes: new { @class = "nav-sub-link" })
                </li>
            </ul>
        </li>
        <li class="sidebar-nav-item with-sub">
            <a href="" class="sidebar-nav-link">
                <i class="icon ion-android-contacts"></i>
                Courses & Subject
            </a>
            <ul class="nav sidebar-nav-sub">
                <li class="nav-sub-item">
                    @Html.ActionLink("Courses", "ListUser", "Account", htmlAttributes: new { @class = "nav-sub-link" })
                </li>
                <li class="nav-sub-item">
                    @Html.ActionLink("Subject", "ListUser", "Account", htmlAttributes: new { @class = "nav-sub-link" })
                </li>
            </ul>
        </li>
    </ul>
</div>
