@model SchoolManagement.Models.Timetable
@{
    ViewBag.Title = "Attendance";
}
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Attendance</li>
            </ol>
            <h6 class="slim-pagetitle">Attendance for  @Html.DisplayFor(model => model.StudentGroup.ClassName)</h6>
        </div><!-- slim-pageheader -->
        <div class="card card-invoice">
            <div class="card-body">
                @using (Html.BeginForm("SaveAttendance", "Attendance"))
                {
                    @Html.HiddenFor(model => model.Id,htmlAttributes: new {@class= "TimetableId ", name = "TimetableId" })
                   
                    <div class="invoice-header">
                        <h1 class="invoice-title">ATTENDANCE</h1>
                        <div class="billed-from">
                            <h3><span class="text-primary">Class:</span>   @Html.DisplayFor(model => model.StudentGroup.ClassName)</h3>
                            <h3><span class="text-primary">Semester:</span> @Html.DisplayFor(model => model.Semester)</h3>
                            <h3><span class="text-primary">Subject:</span> @Html.DisplayFor(model => model.Subject.Name)</h3>
                            <h3><span class="text-primary">Date:</span> @Html.DisplayFor(model => model.Date)</h3>
                            <h3><span class="text-primary">Duration:</span> @Html.DisplayFor(model => model.Duration)</h3>

                        </div><!-- billed-from -->
                    </div><!-- invoice-header -->

                    <div class="table-responsive mg-t-40 pb-4">
                        <table id="datatable2" class="table table-invoice">
                            <thead>
                                <tr>
                                    <th class="wd-20p">Roll Number</th>
                                    <th>Full Name</th>
                                    <th>
                                        <div class="form-check form-check-inline">
                                            <input onClick="toggle(this)" class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                            <label class="form-check-label" for="inlineCheckbox1">Attendance</label>
                                        </div>
                                    </th>
                                    <th>Note</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var student in ViewData["Student"] as IList<SchoolManagement.Models.Students_StudentGroup>)
                                {
                                    <tr>
                                        <td class="text-uppercase">@student.Account.roll_number</td>
                                        <td class="text-capitalize">@student.Account.Lastname @student.Account.Firstname </td>
                                        <td>
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" name="studentAttend" value="@student.Account.Id">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <textarea class="form-control" name="Note" rows="1"></textarea>
                                            </div>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div><!-- table-responsive -->

                    <hr class="mg-b-60">

                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                }
            </div><!-- card-body -->
        </div><!-- card -->

    </div><!-- container -->
</div><!-- slim-mainpanel -->
<script>
    function toggle(source) {
        checkboxes = document.getElementsByName("studentAttend");
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>