
@{

    ViewBag.Title = "Teacher";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/fullcalendar")
<div class="slim-mainpanel">
    <div class="container">
        <div class="slim-pageheader">
            <ol class="breadcrumb slim-breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="#">Dashboard</a></li>
            </ol>
            <h6 class="slim-pagetitle">Teacher</h6>
        </div><!-- slim-pageheader -->
        <!--<div class="row row-xs mb-3">
            <div class="col-sm-6 col-lg-6">
                <div class="card card-status">
                    <div class="media">
                        <i class="icon fas fa-user-graduate  tx-purple"></i>
                        <div class="media-body">
                            <h1>35000</h1>
                            <p>Students</p>
                        </div>-->
        <!-- media-body -->
        <!--</div>--><!-- media -->
        <!--</div>--><!-- card -->
        <!--</div>--><!-- col-3 -->
        <!--<div class="col-sm-6 col-lg-6 mg-t-10 mg-sm-t-0">
            <div class="card card-status">
                <div class="media">
                    <i class="icon fas fa-clipboard-list tx-teal"></i>
                    <div class="media-body">
                        <h1>19050</h1>
                        <p>Total Exams</p>
                    </div>-->
        <!-- media-body -->
        <!--</div>--><!-- media -->
        <!--</div>--><!-- card -->
        <!--</div>--><!-- col-3 -->
    </div><!-- row -->
    <div class="section-wrapper mb-3">
        <label class="section-title">Attendance for day</label>

        <div class="row row-xs">
            @foreach (var attendance in ViewData["Attendance"] as IList<SchoolManagement.Models.Timetable>)
            {
                System.Globalization.CultureInfo cul = System.Globalization.CultureInfo.CurrentCulture;
                if (cul.Calendar.GetWeekOfYear(new DateTime(int.Parse(Convert.ToDateTime(attendance.Date).ToString("yyyy")), int.Parse(Convert.ToDateTime(attendance.Date).ToString("MM")), int.Parse(Convert.ToDateTime(attendance.Date).ToString("dd"))), System.Globalization.CalendarWeekRule.FirstDay, DayOfWeek.Monday) == ViewBag.WeekNumber)
                {
                    var isCoplete = false;
                    foreach (var complete in ViewData["Complete"] as IList<SchoolManagement.Models.Attendance>)
                    {

                        if (complete.TimetableId == attendance.Id)
                        {
                            isCoplete = true;
                        }
                        else
                        {
                            isCoplete = true;
                        }
                    }
                    if (isCoplete == true)
                    {
                        <div class="col-sm-6 col-lg-6 mb-2">
                            <a href="@Url.Action("Details","Attendance",new { id = attendance.Id})" class="card card-status">
                                <div class="media">
                                    <i class="icon ion-checkmark tx-purple text-success"></i>
                                    <div class="media-body">
                                        <h1 class="text-uppercase text-success">@attendance.StudentGroup.ClassName</h1>
                                        <h2>@attendance.Subject.Name</h2>
                                        <h3>@attendance.Duration</h3>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </a><!-- card -->
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-6 col-lg-6 mb-2">
                            <a href="@Url.Action("Index","Attendance",new { id = attendance.Id})" class="card card-status">
                                <div class="media">
                                    <i class="icon ion-android-add-circle tx-purple"></i>
                                    <div class="media-body">
                                        <h1 class="text-uppercase">@attendance.StudentGroup.ClassName</h1>
                                        <h2>@attendance.Subject.Name</h2>
                                        <h3>@attendance.Duration</h3>
                                    </div><!-- media-body -->
                                </div><!-- media -->
                            </a><!-- card -->
                        </div>
                    }
                }
            }
        </div><!-- row -->
    </div><!-- section-wrapper -->
    <div class="card pd-25">
        <label class="section-title mb-4">Timetable</label>
        <div id="fullCalendar"></div>
    </div><!-- card -->
    <script>
        $(function () {
            'use strict';

            $('#fullCalendar').fullCalendar({
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'today next'
                },
                events: "https://localhost:44319/Timetable/TimetableCalendar"
            });
        });
    </script>
    <!-- Student Table Area Start Here -->
</div>
</div>

