@model SchoolManagement.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Index";
}

<div class="section-wrapper">
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm("SaveCourse", "Courses"))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.name, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.name, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.course_code, new { @class = "form-label" })
                    @Html.TextBoxFor(m => m.course_code, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.course_code, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary pd-x-20">Button</button>
                </div>
            }
        </div>
        <div class="col-md-8">
            <table id="datatable1" class="table display responsive nowrap">
                <thead>
                    <tr>
                        <th class="wd-15p">@Html.DisplayNameFor(m => m.course_code)</th>
                        <th class="wd-15p">@Html.DisplayNameFor(m => m.name)</th>
                        <th class="wd-15p">Acction</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["Courses"] == null)
                    {
                        <tr>
                            <td colspan="3">Course Empty!</td>
                        </tr>
                    }
                    else
                    {
                        foreach (var course in ViewData["Courses"] as IList<SchoolManagement.Models.Courses>)
                        {
                            <tr>
                                <td>@course.Name</td>
                                <td>@course.Course_code</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary">Left</button>
                                        <button type="button" class="btn btn-secondary">Right</button>
                                    </div>
                                </td>
                            </tr>

                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div><!-- section-wrapper -->
