@model SchoolManagement.ViewModels.SubjectViewModel
@{
    ViewBag.Title = "Subject";
}
<div class="slim-pageheader">
    <ol class="breadcrumb slim-breadcrumb">
        <li class="breadcrumb-item">
            <button class="btn btn-outline-primary btn-block mg-b-10" data-toggle="modal" data-target="#addsubject">Add Subject</button>
        </li>
    </ol>
    <h6 class="slim-pagetitle">Subject</h6>
</div>
<!-- MODAL GRID -->


<div class="section-wrapper">
    <table id="datatable1" class="table display responsive nowrap">
        <thead>
            <tr>
                <th class="wd-15p">@Html.DisplayNameFor(m => m.name)</th>
                <th class="wd-15p">@Html.DisplayNameFor(m => m.sub_code)</th>
                <th class="wd-15p">@Html.DisplayNameFor(m => m.Courses_id)</th>
                <th class="wd-15p">@Html.DisplayNameFor(m => m.semester)</th>
                <th class="wd-15p">@Html.DisplayNameFor(m => m.slot)</th>
                <th class="wd-15p">@Html.DisplayNameFor(m => m.status)</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (ViewData["Subject"] == null)
            {
                <tr>
                    <td colspan="6">Course Empty!</td>
                </tr>
            }
            else
            {

                foreach (var subject in ViewData["Subject"] as IList<SchoolManagement.Models.Subject>)
                {
                    <tr>
                        <td>@subject.Name</td>
                        <td>@subject.Sub_code</td>
                        <td>@subject.CoursesId</td>
                        <td>@subject.Semester</td>
                        <td>@subject.Slot</td>
                        <td>@subject.Status</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">Left</button>
                                <button type="button" class="btn btn-secondary">Right</button>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
  
</div>
